.body
{
 box-sizing: border-box;
    background-image: url("../image/bg.png");
}

.topbar{
    max-width: 100%;
  
    height: 100px;
    background-color: #ffffff;
  
}
.header
{
text-align: center;
height:95px;
padding: 10px 5px 0px 5px;    
background-color: #4aaaa5;
display: inline-block;
margin-left:180px;
font-family:Georgia, Times, Times New Roman, serif;
color: #ffffff;


}
.nav
{
    
 display: inline;

 overflow: hidden;
  
margin-right:200px;
padding-left: 50px;
}


.container
{
background-image: url("../image/bg.png");

max-width: 100%;
height: 100%;

}
.main
{
   
    margin:20px ;
    padding: 20px;
    width:650px;
    background-color:#ffffff;
    border-color: #dddddd;
    display: inline-block;}

.side
{
   
display: block;
float: left;
clear: both;
padding: 5px px 25px 10px;
background-color:#ffffff;
margin:20px 130px 20px 20px;
width:270px;
height:135px;
float:left;

}
.footer
{
width: 100%;
background-color:#666666;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;

}
/*
#portfoliomain
{
    
    margin:20px 20px 20px 10px;
    padding: 20px;
    width:550px;
    background-color:#ffffff;
   
    display: inline-block;
}
*/
a
{ 
    text-align: center;
    text-decoration: none;
    color: #666666;

}
h2
{
    color: #4aaaa5;
}
p
{
    float: left;}
    .prof
    {float: left;
    clear: both;}